#container{

display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

}

#trafficTop{
    background-color: black;
    width: 30px;
    height: 90px;

}


#semaforo{
   background-color: black;
    border: 8px solid black;
    width: 250px;
    height: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
   
}

.rojo{
    background-color: rgb(143, 40, 40);
    border-radius: 50%;
    height: 200px;
    width: 200px;
  border: 2px solid black;
  
  
}

.amarillo{
    background-color: rgb(138, 138, 40);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    
   

  
}

.verde{
    background-color: rgb(24, 114, 24);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 2px solid black;
   
    
}

.rojoB{
    
    background-color: red;
    border-radius: 50%;
    height: 200px;
    width: 200px;
  border: 2px solid rgb(255, 255, 255);

}

.amarilloB{
    
    background-color: yellow;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 2px solid rgb(255, 255, 255);
    

}

.verdeB{
    background-color: rgb(0, 251, 0);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 2px solid rgb(255, 255, 255);
   
}
